/*
*= require_tree .
*= require_self
*= require font-awesome
*/
.discussion {
  width: 50%;
  float: left;
  background-color: yellow;
}
.task {
  width: 50%;
  float: right;
  background-color: grey;
}
